
*.lay

*.ipch

*.filters

*.user

*.log

*.lastbuildstate

*.tlog

*.obj

*.iobj

*.ipdb

*.pdb

*.vsidx

ASTAR/.vs/ASTAR/v17/.suo

*.db

*.json

*.bin

*.txt

*.sln

*.vcxproj

*.recipe

*.dat

*.exe

*.dll

*.db-shm

*.db-wal

*.opendb

.vs/ASTAR/v17/.suo

*.pdf

*.plt
